{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/guitar-xxl.png'%}" height="70"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Riffmates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'musicians' %}">Musicians</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'venues' %}">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ads' %}">Ads</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              My account
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'my_venues_restricted' %}">Venues</a>
                <a class="dropdown-item" href="{% url 'musician_profiles_restricted' %}">Profiles</a>
              </div>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="d-flex">
        {% if user.is_authenticated %}
          <button class="btn btn-outline-warning m-2" type="submit"><a class="nav-link"
              href="{% url 'logout' %}">Logout</a></button>
        {% else %}
          <button class="btn btn-outline-success m-2" type="submit"><a class="nav-link"
              href="{% url 'login' %}">Login</a></button>
          <button class="btn btn-outline-primary m-2" type="submit"><a class="nav-link" href="#">Sign Up</a></button>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
<!-- Navbar -->
