<!-- |safe allows you to write HTML content into the page -->
{% extends "base.html" %}

{% block title %}
{{block.super}}: {{title}}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
  {{ content|safe }}
  {% if venues %}
    <ul>
      {% for venue in venues %}
        <li>
          <a href="{% url 'edit_venue' venue.id %}">{{ venue.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if musician_profile %}
    <h3>My profile: {{ musician_profile.first_name }}</h3>
    {% if band_mates %}
      <h3>Bands and members profiles</h3>
          {% for mates in band_mates %}
            <h4>From: {{ mates.1 }}</h4>
            {% for mate in mates.0 %}
              <p>{{ mate.first_name }} {{ mate.last_name }}</p>
            {% endfor %}
          {% endfor %}
    {% endif %}
  {% endif %}
<p><a href="/accounts/logout/">Logout</a> </p>
{% else %}
  <h1>You need to log in first</h1>
  <p> <a href="/accounts/login/">Log in</a> </p>
{% endif %}
{% endblock content %}
