<!-- |safe allows you to write HTML content into the page -->
{% extends "base.html" %}

{% block title %}
{{block.super}}: {{title}}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
  {{ content|safe }}
  {% if venues %}
    <ul>
      {% for venue in venues %}
        <li>
          <a href="{% url 'edit_venue' venue.id %}">{{ venue.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if profiles %}
    <h3>My profile{{ profiles|pluralize }}</h3>
    <a href="{% url 'new_musician' %}">Add musician</a>
    <ul>
      {% for profile in profiles %}
        <li><a href="{% url 'edit_musician' profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a></li>
      {% endfor %}
    </ul>

  {% endif %}
<p><a href="/accounts/logout/">Logout</a> </p>
{% else %}
  <h1>You need to log in first</h1>
  <p> <a href="/accounts/login/">Log in</a> </p>
{% endif %}
{% endblock content %}
