<!-- RiffMates/templates/list_ad.html -->
{% extends "base.html" %}

{% block content %}
<div class="m-4">
  <h1>Musicians Seeking Bands</h1><a href="{% url 'seeking_ad' %}">New Ad</a>

  {% for ad in seeking_band %}
  <p>
    {{ad.date}} &mdash;
    <strong>{{ad.musician.first_name}} {{ad.musician.last_name}}</strong>
    <br />
    <i>{{ad.content}}</i>
  </p>
  {% empty %}
  <p> <i>No ads at this time</i> </p>
  {% endfor %}

  <h1>Bands Seeking Musicians </h1>

  {% for ad in seeking_musician %}
  <p>
    {{ad.date}} &mdash; <strong>{{ad.band.name}}</strong>
    <br />
    <i>{{ad.content}}</i>
  </p>
  {% empty %}
  <p> <i>No ads at this time</i> </p>
  {% endfor %}
</div>

{% endblock content %}
