<!-- RiffMates/templates/musician.html -->
{% extends "base.html" %}

{% block title %}
{{block.super}}: All Musicians
{% endblock %}

{% block content %}
<div class="p-4">
  <h1>Musicians List</h1>
  <ul>
      {% for musician in musicians %}
        <div class="mt-4">
          <li>
            <a href="{% url 'musician' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a>
          </li>
        </div>
      {% endfor %}
  </ul>
</div>

<div class="m-4">
  <nav>
    <ul class="pagination">
      {% if page.has_other_pages %}
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{page.previous_page_number}}">&laquo;</a></li>
          {% else %}
            <li class="d-none"><span>&laquo;</span></li>
          {% endif %}
        {% endif %}

        {% for i in page.paginator.page_range %}
          {% if i == page.number %}
            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

          {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{ page.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="d-none"><span>&raquo;</span></li>
          {% endif %}

    </ul>
  </nav>
</div>


{% endblock content %}
