<!-- RiffMates/templates/musician.html -->
{% extends "base.html" %}

{% block title %}
{{block.super}}: All Musicians
{% endblock %}

{% block content %}
<div class="p-4">
    <input
    placeholder="Search for musicians"
    name="search_text"
    type="text"
    value="{{search_text}}"
    hx-get="{% url 'search_musicians' %}"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#results"
    hx-push-url="true">
    <!-- Turning on hx-push-url causes the URL’s search_text query parameter to be updated with the contents of the input box -->
  <h1>Musicians List</h1>
  <div class="results mt-4" id="results">
    {% include 'partials/musicians_results.html' %}
  </div>
</div>

<div class="m-4">
  <nav>
    <ul class="pagination">
      {% if page.has_other_pages %}
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{page.previous_page_number}}">&laquo;</a></li>
          {% else %}
            <li class="d-none"><span>&laquo;</span></li>
          {% endif %}
        {% endif %}

        {% for i in page.paginator.page_range %}
          {% if i == page.number %}
            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

          {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'musicians' %}?page={{ page.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="d-none"><span>&raquo;</span></li>
          {% endif %}

    </ul>
  </nav>
</div>


{% endblock content %}
