{% extends 'base.html' %}

{% block title %}
  {{block.super}}: News
{% endblock title %}

{% block content %}
  <p>{{ news|length }} new{{ news|pluralize}}</p>
  <ul>
    {% for item in news %}
      <li>{{item}}</li>
    {% endfor %}
  </u>
  <table class="table table-dark table-striped table-hover width-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in news %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{item}}</td>
          <td>{{item|date:"D d M Y" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
