{% extends 'base.html' %}

{% block title %}
  {{block.super}}: News
{% endblock title %}

{% block content %}
  <h1>News</h1>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Date published</th>
      </tr>
    </thead>
    <tbody>
          <tr class="{% cycle news.0 news.1 as news_subject %}">
            <th>{{ news_subject.0}}</th>
            <th>{{ news_subject.1|date:"F tS, l o"}}</th>
          </tr>
          <tr class="{% cycle news_subject %}">
            <th>{{ news_subject.0}}</th>
            <th>{{ news_subject.1|date:"F tS, l o"}}</th>
          </tr>
    </tbody>
  </table>
{% endblock content %}
