{% extends 'base.html' %}

{% block title %}
  {{block.super}}: News
{% endblock title %}

{% block content %}
  <h1>News</h1>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Date published</th>
      </tr>
    </thead>
    <tbody>
        {% for item in news %}
          <tr class="{% cycle 'news_1' 'news_2' %}">
            <th>{{ item.0}}</th>
            <th>{{ item.1|date:"F tS, l o"}}</th>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
